*{
  margin: 0;
  padding: 0;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 9%;
    background: rgb(4, 4, 4);
    font-family: ProximaNovaCond, "Arial Narrow", sans-serif ;
  }
  .header .left-section{
    display: flex;
  }
  .header .left-section img{
    height: 104px;
    width: 145px;
  }
  
  .header .logo i {
    color: rgb(113, 15, 15);
  }
  
  .header .navbar a {
    font-size: 20px;
    margin: 0 1rem;
   color: white;
   text-decoration: none;
  }
  
  .header .navbar a:hover{
    color: blueviolet;
  }

  .header .icons div {
   color: white;
    font-size: 3rem;
    margin-left: 0.3rem;
    cursor: pointer;
  }
  
  .header .icons div:hover {
    color:blueviolet;
  }
  
  #menu-btn {
    display: none;
  }

body{
background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.6)),url(images/retro.gif);
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
}
.container {
  margin: 350px 0 200px auto;
  padding: 0px 250px;
}

.innerdiv{
    height: 80%;
    display: flex;
    align-items: center;
}

.center{
    width: 54%;
}

.center .title{
    color: white;
    font-size: 70px;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.center .subdes{
    color: white;
    font-size: 18px;
    font-weight: 20;
    margin: 20px 0 25px 0;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.center .btn{
  margin: 50px auto;
  font-size: 20px;
  width: 400px;
  height: 80px;
  border-radius: 50px;
  background-color: blueviolet;
}

.up-center-text h2 {
  text-align: center;
  color: white;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 30px;
}

.news img{
margin-top: 15px;
  padding-right: 5rem;
  width: 380px;
  height: 250px;

}
.hero-news{
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
  gap: 1rem;  
}

.news h4{
  max-width: 380px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.news h5{
  color: white;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}

.news p{
  color: white;
  font-size: 15px;
  max-width: 380px;
  line-height: 25px;
  margin-bottom: 12px;
}
.news h6{
  color: white;
  font-size: 14px;
  font-weight: 500;
}

/* The footer is at the bottom of the page */

footer {
    position: relative;
    bottom: 0;
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: blueviolet;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 30%;
}

.footer-distributed .footer-center i {
    background-color: black;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: blueviolet ;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
    margin: 40px;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: blueviolet;
}

.footer-links a:hover {
    color: blueviolet;
}
@media (max-width: 1065px){
    .header .navbar a{
        font-size: 1.4rem;
    }
  }
  @media (max-width: 991px){
    .header {
        padding: 1.4rem;
      }
  }
  @media (max-width: 768px) {
     /* Tablet Navbar Start  */
  .header .navbar {
    position: absolute;
    top: 150px;
    right:-110%;
    width: 100%;
    /* border-radius: 0.5rem; */
    background: rgb(17, 16, 16);
    color: #fff;
    text-align: center;
    display: none;
  
  }
 
    .header .navbar.active {
      right: 0;
      transition: 0.3s linear;
      display: block;
    }
    .center .btn{
      margin-left:0px;
       
    }

    .header .navbar a {
      font-size: 2rem;
      margin: 2rem 2.5rem;
      display: block;
    }

  #menu-btn {
    display: inline-block;
  }
  .header .icons div{
      margin:0 1rem;
    }
  /* Tablet Navbar End  */
   /* Tablet Footer Start  */
  .footer-distributed {
    background-color: #2d2a30;
    width: 100%;
    text-align: center;
    font: bold 16px sans-serif;
    margin-top: 17px;
}
.footer-distributed .footer-left {
    width: 100%;
}
.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}
.footer-distributed .footer-links {
    color: #ffffff;
    margin: 10px 0 12px;
}
.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-center {
  font-size: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0 21rem;
}
.footer-distributed .footer-right {
    width: 88%;
    margin: 15px;
}
/* Tablet Footer End  */
}
@media (max-width: 425px){
    .header .left-section{
        display: flex;
        flex-direction: column;
      }
    .header .icons div{
        font-size: 2rem;
        margin:0 1rem;
      }
      .center .btn{
        margin-left:0px;
         
      }
      
  .footer-distributed .footer-center {
    width: 100%;
    text-align: justify;
    margin: 0 0rem;
   display: none;
}
}